html {
    background-image: url('./static/mmmotife.png');
    background-size: 100% 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body main .container p {
    margin: 8px 0px;
    font-size: 0.8rem;
}

.css-selector {
    background-image: url('./static/mmmotifx.png');
    background-size: 200% 200%;

    -webkit-animation: AnimationName 20s linear infinite alternate;
    -moz-animation: AnimationName 20s linear infinite alternate;
    animation: AnimationName 20s linear infinite alternate;
}

.css-selector:not(:hover) {
    animation-play-state: paused;
}

@-webkit-keyframes AnimationName {
    0% {background-position: 50% 50%}
    0% {backdrop-filter: hue-rotate(410deg);}
    50% {backdrop-filter: hue-rotate(200deg);}
    100% {background-position: 27, 45% 50%}
    100% {backdrop-filter: hue-rotate(410deg);}
}

@-moz-keyframes AnimationName {
    0% {background-position: 50% 50%}
    0% {backdrop-filter: hue-rotate(410deg);}
    50% {backdrop-filter: hue-rotate(200deg);}
    100% {background-position: 27, 45% 50%}
    100% {backdrop-filter: hue-rotate(410deg);}
}

@keyframes AnimationName {
    0% {background-position: 50% 50%}
    0% {backdrop-filter: hue-rotate(410deg);}
    50% {backdrop-filter: hue-rotate(200deg);}
    100% {background-position: 27, 45% 50%}
    100% {backdrop-filter: hue-rotate(410deg);}
}

body .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    padding: 20px;
    min-width: 384px;
    font-family: 'DM Sans', sans-serif;
}

body .mensagem {
    background: rgba(255, 0, 0, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}


body .mensagemInfo {
    background: rgba(255, 208, 0, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

body .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}

body .container form .box {
    width: 20rem;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 2px 5px;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

body .container form .btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: 0px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

body .container form .btn:hover {
    background-color: #ddd;
}


/* Tela Cadastro */


body .container form .seletor {
    align-self: self-start;
}

body .container form .seletor .slt {
    border-radius: 5px;
    border: 0px solid #000;
}

/* Tela Gerencia */

body .mainGerencia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

body .containerGerencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin: 20px;
    padding: 2vw;
    font-family: 'DM Sans', sans-serif;
    height: 100%
}

body .containerGerencia .menu {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

body .containerGerencia table {
    border-collapse: collapse;
    margin: 0;
}

body .containerGerencia table th,
body .containerGerencia table tr td {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

body .containerGerencia table tr .actions a {
    text-align: center;

    min-width: 200px;
}

.linkGerencia:link {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #08f;
    text-decoration: none;
    font-weight: 800;
    transition: 0.5s ease-in-out;
}

.linkGerencia:visited {
    color: #08f;
    text-decoration: none;
    font-weight: 800;
}

.linkGerencia:hover {
    border-radius: 50px;
    background-color: #aaa;
    color: #00f;
    text-decoration: none;
    font-weight: 800;
}

.linkGerencia:active {
    color: #f80;
    text-decoration: none;
    font-weight: 800;
}

body .mainGerencia .containerGerencia .editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'DM Sans', sans-serif;
}

body .mainGerencia .containerGerencia .box {
    width: 20rem;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 2px 5px;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
}

body .mainGerencia .containerGerencia .dateBox {
    width: 6rem;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 2px 5px;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
}

body .mainGerencia .containerGerencia .btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: 0px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

body .mainGerencia .containerGerencia .btn:hover {
    transition: 0.5s ease-in-out;
    border-radius: 50px;
    background-color: #aaa;
}


/* Tela Portal */


body .mainPortal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

body .containerPortal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin: 20px;
    padding: 2vw;
    font-family: 'DM Sans', sans-serif;
    min-width: 35rem;
    max-width: 35rem;
}

body .containerPortal .menu {
    display: flex;
    justify-content: space-between;
}

body .containerPortal .menu a {
    font-size: 12px;
}

body .containerPortal table {
    border-collapse: collapse;
    margin: 20px 0 0 0;
}

body .containerPortal table th,
body .containerPortal table tr td {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

body .containerPortal table tr .actions a {
    text-align: center;
    
    min-width: 200px;
}

.linkPortal:link {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #08f;
    text-decoration: none;
    font-weight: 800;
    transition: 0.5s ease-in-out;
}

.linkPortal:visited {
    color: #08f;
    text-decoration: none;
    font-weight: 800;
}

.linkPortal:hover {
    border-radius: 50px;
    background-color: #aaa;
    color: #00f;
    text-decoration: none;
    font-weight: 800;
}

.linkPortal:active {
    transition: 0s;
    color: #f80;
    text-decoration: none;
    font-weight: 800;
}

body .mainPortal .containerPortal .editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

body .mainPortal .containerPortal .seletor {
    text-align: start;
}

body .mainPortal .containerPortal .box {
    width: 20rem;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 2px 5px;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
    width: 98.5%;
}

body .mainPortal .containerPortal .dateBox {
    width: 6rem;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 2px 5px;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
}

body .mainPortal .containerPortal .btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: 0px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

body .mainPortal .containerPortal .btn:hover {
    background-color: #ddd;
}

body .mainPortal .containerPortal .btnPost {
    width: 90px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 0px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    font-weight: 800;
}

body .mainPortal .containerPortal .btnPost:hover {
    background-color: #aaa;
    filter: drop-shadow(0 0 0.5rem #ddd);
    border-radius: 50px;
    font-weight: 800;
    color: #fff;
}

body .mainPortal .containerPortal .btnPost:active {
    transition: 0s ease-in-out;
    background-color: #5558;
    filter: drop-shadow(0 0 0.5rem #555);
    border-radius: 50px;
    font-weight: 800;
    color: #fff;
}


/* Tela Index */


body .mainIndex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

body .mainIndex .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin: 20px;
    padding: 1vh 2vw;
    font-family: 'DM Sans', sans-serif;
    min-width: 35rem;
    max-width: 35rem;
}

body .mainIndex .header h1 {
    margin: 16px;
}

body .mainIndex .header a {
    margin: 12px;
}

body .containerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin: 20px;
    padding: 1vh 2vw;
    font-family: 'DM Sans', sans-serif;
    min-width: 35rem;
    max-width: 35rem;
}

body .containerIndex {
    display: block;
    word-wrap: break-word;
    line-break: auto;
}

body .containerIndex img {
    width: auto;
    max-width: 100%;
    height: 10rem;
}

body .containerIndex #newsImg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    object-position: 50% 50%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}

body .containerIndex #newsImg:hover {
    border-radius: 25px;
    height: 20rem;
}

body .containerIndex .noticiaHeader {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

/* Tela Perfil */

body .containerIndex #profileImg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    object-position: 50% 50%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}

body .containerIndex #profileImg:hover {
    border-radius: 25px;
    height: 20rem;
}

/* Estilo Filtro Noticias */

body main .filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 35rem;
    max-width: 35rem;
    gap: 5px;
    background: rgba(223, 223, 223, 1);
    box-shadow: 0 8px 32px 0 rgb(114, 114, 114);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    padding: 1vh 2vw;
    margin: 20px;
}

body main .filtro form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

body main .filtro form .inp {
    width: 200px;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 4px;
}

body main .filtro form .btn {
    border-radius: 5px;
    border: 1px solid #888;
    padding: 4px;
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

body main .filtro form .btn:hover {
    background-color: #aaa;
    border-radius: 50px;
    border: 1px solid #888;
    padding: 4px;
    font-weight: 700;
}

/* Estilo Filtro Usuarios */

body main .filtroUsuarios {
    min-width: 100%;
}

body main .filtroUsuarios form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 2vh 2vw;
    margin: 1px 0;
    font-family: 'DM Sans', sans-serif;
}

body main .filtroUsuarios form .inp {
    width: 200px;
    border-radius: 5px;
    border: 0px solid #000;
    padding: 4px;
}

body main .filtroUsuarios form .btn {
    border-radius: 5px;
    border: 1px solid #888;
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

body main .filtroUsuarios form .btn:hover {
    background-color: #aaa;
    border-radius: 50px;
    font-weight: 700;
}

body main .filtroUsuarios form .btn {
    border-radius: 5px;
    border: 1px solid #888;
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

body main .filtroUsuarios form .btn:hover {
    background-color: #aaa;
    filter: drop-shadow(0 0 0.2rem #888);
    border-radius: 50px;
    font-weight: 700;
}